* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

.container {
    text-align: center;
    width: 550px;
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 18px;
}

p:first-of-type {
    margin-bottom: 0;
}

button {
    font-size: 3rem;
    margin: 10px 5px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

#rock {
    background-color: rgb(0, 38, 207);
}

#paper {
    background-color: rgb(250, 112, 0);
}

#scissors {
    background-color: rgb(0, 146, 0);
}

#user-score {
    color: greenyellow;
}

#computer-score {
    color: rgb(255, 63, 63);
}